
.calcCon {
    padding-top: 20px;
    height: 65px;
    width: 250px;
    background-color: darkred
}

.fancyText {
    color: white;
    font-family: sans-serif;
    

        
}

.form1 {
    padding-top: 16px;
}
